@import url("https://fonts.googleapis.com/css2?family=Lato&family=Manrope:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");
img {
  max-width: 100%;
}

button {
  user-select: none;
}

body {
  background-color: #202733;
  padding: 1.25rem;
  font-family: "Manrope", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 0.1px);
  text-align: center;
}

#title {
  color: #53ffaa;
  font-size: 0.8rem;
  text-transform: uppercase;
  margin-bottom: 1.25rem;
  letter-spacing: 0.4rem;
  margin-top: 2rem;
}

#text {
  font-size: 28px;
  color: #cee3e9;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.divider-line {
  color: #cee3e9;
  position: relative;
}

article button {
  background-color: #53ffaa;
  padding: 1.25rem;
  border: none;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2rem;
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

article button:hover {
  box-shadow: 1px 1px 4px 1px #53ffaa;
  transition: 0.2s ease-in-out;
}

article img {
  border-radius: 0.2rem;
}

@media (min-width: 375px) {
  .container {
    width: 97%;
  }
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: #3e52a3;
}

/* Font families. */
.mobile-headline {
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 3.45714px;
}

.mobile-body {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.257143px;
}

.desktop-headline {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 4.08571px;
}

.desktop-body {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.3px;
}

.container {
  width: 540px;
}
.container .flex-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #313a48;
  padding: 4% 4% 3rem;
  color: #ffffff;
  border-radius: 1.25rem;
  position: relative;
  border: 1px solid white;
}
.container .container__lower {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.container .container__lower .button__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .container__lower .dice-circle {
  background-color: #53ffaa;
  border-radius: 50%;
  padding: 1.25rem;
  border: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 4rem;
  width: 4rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
  margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

/*# sourceMappingURL=main.css.map */
