.container {
  width: 540px;

  .flex-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: $dark-grayish-blue;
    padding: 4% 4% 3rem;
    color: #ffffff;
    border-radius: 1.25rem;
    border: 1px solid white;
  }
  .container__lower {
    display: flex;
    justify-content: center;
    flex-direction: column;

    .button__wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .dice-circle {
      background-color: $neon-green;
      border-radius: 50%;
      position: relative;
      z-index: 5;
      bottom: 2rem;
      padding: 1.25rem;
      border: none;
      height: 4rem;
      width: 4rem;
      cursor: pointer;
    }
  }
}

@media (max-width: 600px) {
  .container {
    width: 343px;
  }
}
