@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

/* Font families. */
$display-text: "Manrope", normal;
$body-text: "Manrope", normal;
$font-weight: 800;

.advice_headline {
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 4.08571px;
}
.advice_text {
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -0.3px;
}
